[build]
  command = "npm run build"
  publish = "dist/public"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

# Proxy example in case you host backend separately
# [[redirects]]
#   from = "/api/*"
#   to = "https://aerosense-2.onrender.com"
#   status = 200
